# Dependencies
/vendor/
go.sum

# Environment
.env
.env.local

# Binaries
/dispatcher
# /scraper - allow python source commits
!scraper/*.py
!scraper/*.txt

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
postgres_data/
